@keyframes titlecard-hover {
  from {opacity = 1;}
  to {opacity = 0;}
}
#cap0 {
  background-image: linear-gradient(to bottom right, #f00, #ff0);
}
.titlecard {
  width: 100vw;
  left: 0;
  padding: 1em;
}
.titlecard-header {
  margin: 0;
  color: #333;
}
.titlecard-preview-container {
  display: flex;
  justify-content: center;
  /*pointer-events: none;*/
}
.titlecard:hover {
  background-image: #0005;
}
.titlecard-title {
  
}
