@keyframes titlecard-hover {
  from {transform: scale(0.9, 0.9);}
  to {transform: scale(1, 1);}
}
#cap0 {
  background-image: linear-gradient(#566, #9aa,#abb);
}
.titlecard {
  width: 100vw;
  left: 0;
}
.titlecard-preview-container {
  display: flex;
}
.titlecard-preview:hover {
  
}
.titlecard-title {
  z-index: 2;
}
